extends ../template/layout

block content
  #content
    .row
      .small-12.columns
        if assessment
          h3= assessment.instructions
          if questions
            .pagination-centered
              //- THERE IS STILL SOMETHING GOING ON WITH THE PAGINATION SHOWING CORRECTLY
              ul.pagination
                each q, index in questions
                  if responses[index].isCorrect === 0
                    li: a.wrong(href='/use/assessment/' + assessment.id + '/' + index, id=index )= index
                  else if responses[index].isCorrect === 1
                    li: a.correct(href='/use/assessment/' + assessment.id + '/' + index, id=index )= index
                  else
                    if question.index === index
                      //- p you made it!!!
                      li: a.activePage(href='/use/assessment/' + assessment.id + '/' + index, id=index )= index
                    else
                      li: a(href='/use/assessment/' + assessment.id + '/' + index, id=index )= index
            if question
              h6 #{question.index}. #{question.text}
              if response.isCorrect === 2
                input#response(type='text')
              else
                //- p= response
                if response.isCorrect === 0
                  input#response.wrong(type='text', placeholder= response.userAnswer, disabled: disabled)
                else if response.isCorrect === 1
                  input#response.correct(type='text', placeholder= response.userAnswer, disabled: disabled)
              if response.isCorrect === 2
                //- p= response
                #submitResponse.button.small.radius.success(data-question-id=question.id) Submit
          else
            form(action='/use/assessment/' + assessment.id + '/0', method= 'get')
              button#startAssessment.button.small.radius.success(type='submit') Start your Assessment
        else
          form(action='/use/assessment', method= 'get')
            label(name= 'assessmentKey') Enter Your Assessment Key
            input#whichAssessment(type= 'text', name= 'assessmentKey')
            button#findAssessment.button.small.radius.success(type='submit') Take My Assessment




