extends ../template/layout

block content
  #content
    .row
      .small-12.columns
        h3 Teacher Assessment Design Conservatory
        h3#instructions.subheader= assessment.instructions
        if question
          #question(data-id=question.id)
            h4.qText= question.text
            #calculator
              .row
                .small-8.columns
                  #past
                  #present
                  #saveSolution.button.radius.small.success Save
                .small-4.columns
                  #future
                    .row
                      #add.operator.button.radius(data-value='+') +
                      #subtract.operator.button.radius(data-value='-') -
                      #multiply.operator.button.radius(data-value='*') x
                      #divide.operator.button.radius(data-value='/') /
                    .row
                      #openParens.operator.button.radius(data-value='(') (
                      #closeParens.operator.button.radius(data-value=')') )
                      #backspace.button.alert.radius &larr;
                    .row
                      #nums
                        each number, i in question.numbersActual
                          .number.button.radius(data-num=i, data-value=number)= number
                    .row
                      #mathConstants
                        #pi.button.radius.mathConstant(data-value='3.14') &pi;
                        #e.button.radius.mathConstant(data-value='2.72') e
        else
          .row
            .small-12.columns
              h3 Great work!  All of your questions have been saved.
              h3 Your assessment key is #{assessment.id}.
              a#goToResults.button.small.radius(href='/results/'+assessment.id) See Results




